<template name="About">

  {{#ionHeaderBar align-title="left" class="bar bar-header bar-assertive"}}
  <h1 class="title">About</h1>
  {{/ionHeaderBar}}


  {{#ionContent}}

  <div class="card">
    <div class="item item-divider">
      El Sonidito Button
    </div>
    <div class="item item-text-wrap">
      The El Sonidito Button is an unofficial fan page dedicated to El Hechizeros.
      We created this for entertainment purposes only and do not intend to infringe the copyrights of Hechizeros Band
      or related entities, who are in no way affiliated with this site.
      Please direct inquiries to info@sonidito.io.

      Please don't sue us.
    </div>
    <div class="item item-divider">
      UN DOS TRES CUATRO!
    </div>
  </div>

{{/ionContent}}
</template>
